@font-face {
  font-family: "Adobe Clean";
  src: url(../adobe-clean-cufonfonts/);
}

/* .rockstars-desc {
  margin-bottom: 1rem;
} */

.para-text {
  border-radius: 1rem;
  color: white;
  padding: 8rem;
  margin-top: 3rem;
  word-wrap: break-word;
  font-size: 1.75rem;
  text-align: justify;
  font-family: "Adobe Clean Light", sans-serif;
}

.img-size {
  width: 4rem;
  height: 4rem;
}
.rotate-34 {
  -ms-transform: rotate(34deg);
  transform: rotate(34deg);
}

.rotate-neg-38 {
  -ms-transform: rotate(-38deg); /* IE 9 */
  transform: rotate(-38deg);
}

.rotate-38 {
  -ms-transform: rotate(38deg); /* IE 9 */
  transform: rotate(38deg);
}

.cmp-details {
  background-color: white;
  padding: 2.5rem 0;
  margin: 0;
}

.cmp-details__desc {
  margin: auto;
  /* width: 70%; */
}

.cmp-details__desc h1 {
  font-family: "Adobe Clean Regular", sans-serif;
  font-weight: 900;
}

.cmp-details__desc1 {
  margin: auto;
  /* width: 90%; */
}

.red-bg {
  background-color: #cb3729;
}

.black-bg {
  background-color: #292929;
}

.row-position {
  justify-content: center;
}

.icons-col-center {
  align-items: center;
  justify-content: center;
}

.icons-col-center-left {
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  top: 30%;
  min-height: 30rem;
  justify-content: space-evenly;
}

.icons-col-center-right {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  top: 30%;
  min-height: 30rem;
  justify-content: space-evenly;
}

.custom-container {
  position: relative;
}

@media (max-width: 575.98px) {
  .para-text {
    padding: 4rem;
    font-size: 1.25rem;
  }
  .icons-col-center {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .para-text {
    padding: 6rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
