@font-face {
  font-family: "Adobe Clean";
  src: url(../adobe-clean-cufonfonts);
}

.contact-heading {
  /* margin: auto; */
  /* width: 70%; */
  font-family: "Adobe Clean Regular", sans-serif;
}

.contact-heading h1 {
  font-weight: 900;
}

.contact-cards {
  overflow-x: hidden;
  margin: 7rem 0;
}

.contacts {
  padding: 2rem 0;
}

.card {
  min-height: 30rem;
  text-align: center;
}

.card-text {
  min-height: 6rem;
  font-size: smaller;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.card-body {
  background-color: #9b261b;
  border-radius: 0.45rem;
}

.card-body p.card-title,
.card-body p.card-name {
  font-family: "Adobe Clean Light", sans-serif;
}

.card-body p.card-name {
  font-family: "Adobe Clean Regular", sans-serif;
  font-weight: 400;
}

.card-img {
  padding-bottom: 2rem;
}

.card-img img {
  width: 50%;
  border-radius: 50%;
}

.card-body p {
  color: white;
  font-family: "Adobe Clean Light", sans-serif;
}
