@font-face {
    font-family: "Adobe Clean";
    src: url(../adobe-clean-cufonfonts);
}

.contact-heading{
    margin: auto; 
    width: 70%;
    font-family: "Adobe Clean Regular", sans-serif;
}

.contact-heading h1{
    font-weight: 900;
}

.contact-cards{
    overflow-x: hidden;
    margin-bottom: 7vw;
}

.contacts{
    padding: 2vw 10vw 2vw 10vw;
}

.card{
    width: 18vw;
    height: 30vw;
    text-align: center;
}

@media screen and (max-width: 1216px) {

    .card{
    width: 100%;
    height: 30vw;
    text-align: center;
    }
    
}

.card-text{
    height: 6vw;
}

.card-body{
    background-color: #cb3729;
    border-radius: 0.45vw;
}

.card-body p.card-title, .card-body p.card-name{
    font-family: "Adobe Clean Light", sans-serif;
}

.card-body p.card-name{
    font-family: "Adobe Clean Regular", sans-serif;
    font-weight: 400;
}

.card-img{
    padding-bottom: 2vw;
}

.card-img img{
    width: 50%;
    border-radius: 50%;
}

.card-body p{
    color: white;
    font-family: "Adobe Clean Light", sans-serif;
}